.App {
  text-align:left;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

*{margin: 0;padding: 0;box-sizing: border-box;}
body{
  background-color: #282a36;
  font-family: 'SourceSansPro-Regular', sans-serif;
}
aside{
  width: 70px;
  left: 0;
  height: 100vh;
  background-color: #44475a;
  justify-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
}
aside.disabled{
  left: -70px;
  -webkit-transition: left 2s; /* Safari */
  transition: left 2s; 
}
aside li{
  list-style: none;
  margin: 25px 0;
}

aside li .icon{
  color: #ffffff;
}

section{
  width: 100%;
}

article{
  width: 100%;
  border: 1px #44475a solid;
  padding: 10px 0 10px 70px;
}

header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header .tag{
  display: inline-block;
  color: #50fa7b;
  font-family: 'SourceSansPro-Regular', sans-serif;
  font-size: 12px;
  background-color: #44475a;
  padding: 3px;
  margin: 3px;
  width: auto;
}

article h1{
  color: #ff79c6;
  font-weight: 100;
  width: auto;
  font-size: 14px;
  padding-left: 4px;
}

article p{
  color: #8be9fd;
  padding-left: 4px;
  font-size: 12px;
}

.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer div{
  display: inline-block;
  color: #8be9fd;
  font-family: 'SourceSansPro-Regular', sans-serif;
  font-size: 12px;
  background-color: #44475a;
  padding: 3px;
  margin: 3px;
  width: 50%;
  text-align: center;
}